body
{
  font-family: "Times New Roman", Times, serif;
}

p
{
  font-family: Helvetica, sans-serif;
}

table
{
 border-collapse: collapse;
 background-color: yellow;
}

td
{
  border-left: 3px solid green;
  text-align: center;
  padding-bottom: 20px;
}

.schedule
{
  color: green;
}

.imageClass
{
  border-style: dotted;
  border-width: 3px;
  float:left;
  /*
  padding: 5px 10px 15px 20px;
  margin: 5px 30px 35px 40px;
  */
}
